{% extends 'main.html' %}

{% block head %} {{ super() }} {% endblock %}

{% block title %}Client{% endblock %}

{% block content %}
<br />
<div>
  <a href="{{ url_for('client.client') }}">< Volver a clientes</a>
</div>
<br />
<div>
  <button class="pt-bg-info pt-add-client">Agregar Auto</button>
</div>
  <br />
 <div>
  <p class="pt-customize-color">Mostrar <a href="{{ url_for('auto.show_auto') }}">autos</a>  | <a href="#">Disponibles</a> | <a href="#">Alquilados</a></p>
</div>

<!-- Form Auto -->
<div class="pt-form-client">
  <form class="pt-form pt-customize-color" action="{{ url_for('auto.add_auto') }}" method="post" accept-charset="utf-8">
    <div class="col">
      <label for="NombreCompleto">Nombre Completo</label>
      <input type="text" name="nombre" id="nombre" required/>
    </div>
<div>
  {% for message in get_flashed_messages() %}
  <p class="pt-message">{{ message }}</p>
  {% endfor %}
</div>
    <div class="col">
      <label for="Modelo">Modelo</label>
      <input type="text" name="modelo" id="modelo" />
    </div>
    <div class="col">
      <label for="Año">Año</label>
      <input type="text" name="año" id="año" />
    </div>
    <div class="col">
      <label for="País">País</label>
      <input type="text" name="país" id="país" />
    </div>
<div>
  {% for message in get_flashed_messages() %}
  <p class="pt-message">{{ message }}</p>
  {% endfor %}
</div>
    <div class="col">
      <button class="pt-submit-client pt-customize-bg-color" type="submit">Enviar</button>
    </div>
  </form>
  </div>
<div>
  {% for message in get_flashed_messages() %}
  <p class="pt-message">{{ message }}</p>
  {% endfor %}
</div>
{% endblock %}