{% extends 'base.html' %}

{% block head %}
 {{ super() }}
{% endblock %}

{% block title%}AUTO{% endblock %}

{% block content %}
  {% include 'header.html' %}

 <div class="container-md">
   
 <div class="btn-group btn-striped" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-success">Agregar</button>
  <button type="button" class="btn btn-secondary">Editar</button>
  <button type="button" class="btn btn-danger">Eliminar</button>
  </div>
  <br /> <br />

 <!-- Form for adding clients data -->
 <form class="row g-3">
   <h1 class="h1 pt-font-header">Agregar Clientes</h1>
   <div class="col-12">
    <label for="inputAddress" class="form-label">Nombre Completo</label>
    <input type="text" class="form-control"  placeholder="Peterson Mardi">
 </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Cédula/Passaport</label>
    <input type="email" class="form-control" placeholder="AB1234567 or 0123456789012" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Teléfono</label>
    <input type="password" class="form-control" placeholder="(809) 123-4567">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Horas</label>
    <input type="text" class="form-control"  placeholder="¿Cuántas horas? - Límite: de 1 al 24">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Días</label>
    <input type="text" class="form-control"  placeholder="¿Cuántos días? - Límite: de 1 al 7">
  </div>
  
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Precio</label>
    <input type="text" class="form-control" >
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
  </form>
  <br />
  
 <!-- Form for updating clients data -->
 <form class="row g-3">
   <h1 class="h1 pt-font-header">Editar Clientes</h1>
   <div class="col-12">
    <label for="inputAddress" class="form-label">Nombre Completo</label>
    <input type="text" class="form-control"  placeholder="Peterson Mardi">
 </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Cédula/Passaport</label>
    <input type="email" class="form-control" placeholder="AB1234567 or 0123456789012" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Teléfono</label>
    <input type="password" class="form-control" placeholder="(809) 123-4567">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Horas</label>
    <input type="text" class="form-control"  placeholder="¿Cuántas horas? - Límite: de 1 al 24">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Días</label>
    <input type="text" class="form-control"  placeholder="¿Cuántos días? - Límite: de 1 al 7">
  </div>
  
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Precio</label>
    <input type="text" class="form-control" >
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
  </form>
  <br />
  
 <!-- Table of clients -->
 <h1 class="h1 pt-font-header">Nuestros clientes</h1>
 <div class="table-responsive-sm">
 <table class="table table-striped table-primary">
  <tr>
   <th>ID</th>
   <th>Nombre Completo</th>
   <th>Cédula/Passport</th>
   <th>Teléfono</th>
   <th>Horas</th>
   <th>Días</th>
   <th>Precio</th>
   <th>Alquilado</th>
  </tr>

  <tr class="table table-light">
   <td>Id</td>
   <td>Nombre</td>
   <td>Cédula</td>
   <td>Teléfono</td>
   <td>Horas</td>
   <td>Días</td>
   <td>Precio</td>
   <td>Alquilado</td>
   <td class="table table-secondary">Editar</td>
   <td class="table table-danger">Eliminar</td>
  </tr>
 </table>
 </div>
 <br />
 
  <!-- Form of adding auto data -->
  <form class="row g-3">
  <h1 class="h1 pt-font-header">Auto</h1>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nombre</label>
    <input type="email" class="form-control" placeholder="Toyota" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Modelo</label>
    <input type="password" class="form-control" placeholder="(809) 123-4567">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Año</label>
    <input type="text" class="form-control"  placeholder="2021">
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
  </form>
  <br />
  <!-- Form of updating autos data -->
  <form class="row g-3">
  <h1 class="h1 pt-font-header">Editar Auto</h1>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nombre</label>
    <input type="email" class="form-control" placeholder="Toyota" required>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Modelo</label>
    <input type="password" class="form-control" placeholder="(809) 123-4567">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Año</label>
    <input type="text" class="form-control"  placeholder="2021">
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
  </form>
  <br />
 
 <!-- Table of Auto -->
  
 <h1 class="h1 pt-font-header">Nuestros autos</h1>
 <div class="table-responsive-sm">
 <table class="table table-striped table-primary">
  <tr>
   <th>ID</th>
   <th>Nombre</th>
   <th>Modelo</th>
   <th>Año</th>
  </tr>

  <tr class="table-light">
   <td>Id</td>
   <td>Nombre</td>
   <td>Modelo</td>
   <td>Año</td>
   <td class="table-secondary">Editar</td>
   <td class="table-danger">Eliminar</td>
  </tr>
 </table>
 </div>
 <br />
 
 </div>
{% endblock %}
